html,
body {
  /* background-color: hsl(142, 52%, 96%); */
  width: 100%;
  height: 100%;
  /* font-family: "Roboto", sans-serif; */
}

#applicationDiv {
  /* position: absolute; */
  width: 100%;
  height: 97vh;
  /* display: flex; */
  /* flex-direction: column; */
  /* overflow: hidden; */
}

#viewDiv {
  width: 100%;
  height: 100%;
  /* flex: 1 1 auto; */
  /* flex: 1 1 auto; */
  /* order: 1; */
  /* align-items: stretch; */
  background-color: hsl(0, 0%, 96%);
  /* display: flex; */
  /* flex-direction: column; */
  /* flex: 1; */
}

#loading {
  width: 10%;
}

img#loading.esri-component {
  left: 45%;
  bottom: 40%;
}

/**************************/
/*     TIME SLIDER    */
/**************************/

#sliderContainer {
  /* color: #fbf4b5; */
  /* flex: 0 0 80px; */
  /* order: 2; */
  display: flex;
  height: 6%;
  width: 60%;
  /* flex-flow: column; */
  flex-flow: row;
  align-items: center;
  justify-content: center;
  opacity: 0.98;
  /* padding: 5px; */
}

#sliderMiddle {
  display: flex;
  flex-flow: row;
  width: 100%;
  align-items: flex-start;
}

/* manually center sliderContainer in Mapview's center bottom*/
.esri-ui-manual-container > div#sliderContainer.box.esri-component {
  /* since item is 60% of view, then 20% left margin will center it; will have to adjust if sliderContainer width is changed */
  left: 20%;
  bottom: 26px;
}

#sliderValue {
  /* flex: 0 0 100px; */
  order: 1;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* flex-direction: column; */
  /* text-align: center; */
  font-size: 5vh;
  color: #0d2644;
  margin-right: 15px;
  /* align-self: flex-start; */
}

#backBtn {
  order: 2;
  background-image: url("backwd25.png");
  width: 25px;
  height: 26px;
  background-color: transparent;
  border: 0px;
}

#sliderInnerContainer {
  flex: 1 1 auto;
  order: 3;
  background-color: transparent;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* padding: 0 2px; */
}

#slider {
  width: 100%;
  background-color: transparent;
}

#fwdBtn {
  order: 4;
  background-image: url("fwd25.png");
  width: 25px;
  height: 26px;
  background-color: transparent;
  border: 0px;
}

/**************************/
/*     GAIN / LOSS BOX    */
/**************************/
.esri-ui-manual-container > div#gainLossBox.esri-component {
  color: black;
  background-color: white;
  width: 30%;
  left: 35%;
  bottom: 22px;
  /* font-family: "Avenir Next"; */
  /* border: 0.5px solid gray; */
  box-shadow: 2px 2px 2px lightgrey;
  border-radius: 10px;
}

/**************************/
/* ESRI STYLING OVERRIDES */
/**************************/

div.esri-expand__content--expanded {
  opacity: 0.98;
}

/***************************/
/* BULMA STYLING OVERRIDES */
/***************************/
.tabs.is-toggle li.is-active a {
  background-color: hsl(171, 100%, 41%);
  border-color: hsl(171, 100%, 41%);
  color: #fff;
  z-index: 1;
}

.button.is-info.is-light {
  background-color: #eff5fb;
  color: #296fa8;
  border-color: #296fa8;
}

.hero {
  padding: 1.5vh;
}

/*  */

.radiocontainer {
  display: inline-flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

/* overides Bulma to make text of both columns align to the top */
/* contain should already have inherited display:flex, so didn't need to repeat here */
/* #checkBoxDiv {
  align-items: stretch;
} */

/****************/
/* Modal Window */
/****************/

/* The Modal (background) */
.modal {
  /* display: none; Hidden by default */
  display: block; /* Opem by default */
  position: fixed; /*Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
/* ModalContentBox */
.modal-content {
  background-color: #fefefe;
  top: 10%;
  bottom: 10% auto;
  padding: 20px;
  border: 12px solid #ffaa00;
  border-radius: 10px;
  width: 80%; /* Could be more or less, depending on screen size */
  height: 80%;
  text-align: center;
}

#modalText {
  margin: 2%;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

h3 {
  font-size: 30px;
}
