html,
body {
  /* background-color: hsl(142, 52%, 96%); */
  width: 100%;
  height: 100%;
}

#applicationDiv {
  /* position: absolute; */
  width: 100%;
  height: 97vh;
  /* display: flex; */
  /* flex-direction: column; */
  /* overflow: hidden; */
}

#viewDiv {
  width: 100%;
  height: 100%;
  /* flex: 1 1 auto; */
  /* flex: 1 1 auto; */
  /* order: 1; */
  /* align-items: stretch; */
  background-color: hsl(0, 0%, 96%);
  /* display: flex; */
  /* flex-direction: column; */
  /* flex: 1; */
}

#sliderContainer {
  color: #fbf4b5;
  /* flex: 0 0 80px; */
  /* order: 2; */
  display: flex;
  height: 10%;
  width: 60%;
  flex-flow: row;
  align-items: center;
  /* padding: 5px; */
}

/* manually center sliderContainer in Mapview's center bottom*/
.esri-ui-manual-container > div#sliderContainer.box.esri-component {
  /* since item is 60% of view, then 20% left margin will center it; will have to adjust if sliderContatin width is changed */
  left: 20%;
  bottom: 7px;
}

#loading {
  width: 10%;
}

img#loading.esri-component {
  left: 45%;
  bottom: 40%;
}

#sliderValue {
  flex: 0 0 100px;
  order: 1;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* flex-direction: column; */
  text-align: center;
  font-size: 300%;
  color: #0d2644;
  margin-right: 15px;
}

#sliderInnerContainer {
  flex: 1 1 auto;
  order: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 2px;
}

#slider {
  width: 100%;
}
/**
  * Play/Stop toggle button
  */

/* #playButton {
  /* flex: 0 0 100px; */
/* flex: 1 1 auto; */
/* order: 2; */
/* margin: 20px 0; */
/* } */

#backBtn {
  order: 2;
  background-image: url("backwd25.png");
  width: 25px;
  height: 26px;
  background-color: transparent;
  border: 0px;
}

#fwdBtn {
  order: 4;
  background-image: url("fwd25.png");
  width: 25px;
  height: 26px;
  background-color: transparent;
  border: 0px;
}

/* ESRI STYLING OVERRIDES */

/* width of legend */
div.esri-component.esri-legend.esri-widget.esri-widget--panel {
  max-width: 190px;
}

/* BULMA STYLING OVERRIDES */
.tabs.is-toggle li.is-active a {
  background-color: hsl(171, 100%, 41%);
  border-color: hsl(171, 100%, 41%);
  color: #fff;
  z-index: 1;
}

.button.is-info.is-light {
  background-color: #eff5fb;
  color: #296fa8;
  border-color: #296fa8;
}

.hero {
  padding: 1.5vh;
}

/*  */

.radiocontainer {
  display: inline-flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

/* overides Bulma to make text of both columns align to the top */
/* contain should already have inherited display:flex, so didn't need to repeat here */
/* #checkBoxDiv {
  align-items: stretch;
} */
