#applicationDiv {
  /* position: absolute; */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#viewDiv {
  width: 100%;
  height: 100%;
  flex: 1 1 auto;
  order: 1;
  align-items: stretch;
  background-color: hsl(0, 0%, 96%);
}

#sliderContainer {
  color: #fbf4b5;
  flex: 0 0 80px;
  order: 2;

  display: flex;
  flex-flow: row;

  padding: 0 12px;
}

#sliderValue {
  flex: 0 0 100px;
  order: 1;

  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  font-size: 300%;
}

#sliderInnerContainer {
  flex: 1 1 auto;
  order: 2;

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
}

#slider {
  width: 100%;
}
/**
  * Play/Stop toggle button
  */

#playButton {
  flex: 0 0 100px;
  order: 3;

  margin: 20px 0;
}

/* ESRI STYLING OVERRIDES */

/* width of legend */
div.esri-component.esri-legend.esri-widget.esri-widget--panel {
  max-width: 190px;
}
